body
  padding 50px
  font 17px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color #00B7FF

.container
  margin 0 auto
  background-color tomato


@media (min-width: 1200px)
  .container
    width 1200px